{% extends 'base.html' %}

{% block title %} 
posts
{% endblock %}

{% block content %}
<div class="container p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">You can publish blog post</h1>
        <p class="lead my-3">Publish your own post to discuss various topics. Information about available articles.</p>
        <p class="lead mb-0"><a href="/about" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>
<div class="container p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    </div>
</div>
{% endblock %}